@import '../Helpers/Helpers.scss';

.squadsBar {
  min-width: 30px;
  height: max-content;
  padding: 2px 0;
  border-radius: 5px;
  text-align: center;


  @include medium() {
    padding: 2px 5px;
  }

  >p {
    font-size: 8px;
    margin: 0;
    padding: 5.5px;

    @include medium() {
      font-size: 10px;
      padding: 4.5px;
    }

    @include large() {
      font-size: 10px;
      padding: 5px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 75px;
    list-style: none;
    overflow: scroll;

    display: flex;
    text-align: center;
    gap:5px;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    >span {
      font-size: 3px;
    }
  }
}
