@import '../Helpers/Helpers.scss';

.navLink {
  background-color: rgba($color: #000, $alpha: .4);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;

    color: $purple;
    text-decoration: none;

    position: relative;

    @include medium() {
      gap: 3px;
    }

    >i {
      font-size: 14px;

      @include medium() {
        font-size: 14px;
      }

      @include large() {
        font-size: 19.5px;
      }
    }

    >span {
      font-size: 4px;
      font-weight: 600;

      @include large() {
        font-size: 6px;
      }
    }
  }
}
