@import '../Helpers/Helpers.scss';

.iconsTool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // overflow: auto;
    justify-content: center;
    gap: 5px;
    // width: 120px;
    // height: 60px;

    @include medium() {
        gap: 10px;
    }

    &__icon {
        position: relative;

        &-check {
            font-size: 12px;
            position: absolute;

            top: -4px;
            left: -3px;
            z-index: 1;
            // color: greenyellow;
        }

        &-img {
            font-size: 15px;

            @include medium() {
                font-size: 20px;
            }
        }
    }
}