@import '../Helpers/Helpers.scss';

.playersAdd {
  // margin-top: 40px;
  width: 50%;

  &__container {
    height: 33vh;
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;
    // padding-bottom: 10px;

    position: relative;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
