@import '../Helpers/Helpers.scss';

.playersAdd {
  width: 50%;

  &__container {
    height: 33vh;
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;

    position: relative;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

