@import '../Helpers/Helpers.scss';

.language {
  width: min-content;
  font-family: $shrift--ubuntu;
  font-weight: 500;
  font-size: 8px;
  border-radius: 10px;
  cursor: pointer;

  &__wrapper {
    padding: 4px 0;
    // padding: 4px 5px;
    border-radius: 5px;

    @include medium() {
      border-radius: 8px;
    }

    @include large() {
      padding: 8px 0;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    color: $purple;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 8px;
    font-family: $shrift--ubuntu;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    // background-color: #fff;


    @include medium() {
      font-size: 11px;
      padding: 9px 19px;
    }

    @include large() {
      font-size: 12px;
      padding: 10px 20px;
      gap: 20px;
    }

    &--arrow {
      transform: rotate(180deg);
      transition: 300ms;

      &-move {
        transform: rotate(90deg);
      }
    }
  }
}
