@import '../../Components/Helpers/Helpers.scss';

.settings {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  padding: 10px;
  // background-color: $purple-dark;

  width: max-content;
  height: max-content;
  border-radius: 10px;

  >h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
  }

  // &__title {
  //   font-size: 10px;
  //   padding: 5px 0;
  //   text-align: center;
  // }

  // &__shell {
  //   display: flex;
  //   align-items: center;
  //   margin: 0;
  //   height: 30px;
  //   gap: 10px;
  // }

  // &__label {
  //   display: flex;
  //   flex-direction: column;
  // }

  // &__button {
  //   background-color: transparent;
  //   // color: $purple--pink;
  //   padding: 0;

  //   >i {
  //     font-size: 25px;
  //   }
  // }

  // &__count {
  //   margin: 0;
  //   font-family: 'Rubik Pixels', sans-serif;
  //   font-size: 13px;
  // }

  // &__form {
  //   margin-top: 15px;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 10px;
  // }



  // input[type=range].range__input {
  //   -webkit-appearance: none;
  //   background: $purple--pink;
  //   height: 10px;
  //   border-radius: 10px;

  //   &::-webkit-slider-thumb {
  //     -webkit-appearance: none;
  //     height: 18px;
  //     width: 18px;
  //     border-radius: 50%;
  //     cursor: pointer;
  //     margin-top: -2px; 
  //     background-color: $purple-lite;
  //     border: 1px solid $purple--pink;
  //   }

  //   &--disabled {
  //     background-color: rgba($color: $purple--pink, $alpha: .4);
  //   }
  // }
}