@import '../Helpers/Helpers.scss';

.squads {
  width: max-content;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  position: relative;
  left: -20px;
  top: -20px;

  transform: scale(1.2);

  @include medium() {
    left: -35px;
    top: -60px;
  }

  &__sheel {
    display: flex;
    flex-direction:column;


    >h1 {
      margin: 0;
      margin-bottom: 3px;
    }
  }

  &__title {
    font-size: 10px;
    margin: 0;
    margin-bottom: 3px;
  }

  &__wrapper {
    max-height: 140px;
    max-width: 70px;
    padding: 10px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  
    overflow: auto;
    border-radius: 10px;

    @include medium () {
      max-width: 70px;
      max-height: 148px;
    }

    @include large() {
      max-width: 160px;
      max-height: 110px;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }
}

