@import '../Helpers/Helpers.scss';

.tools {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;

  &__wrapper {
    width: max-content;
    margin-top: 3px;
    border-radius: 5px;
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    
    >i {
      padding: 3px 6px;
      font-size: 12px;
      cursor: pointer;
      border-radius: 3px;


      @include medium() {
        font-size: 13px;
      }

      @include large() {
        font-size: 14px;
      }
    }
  }
}
