@import '../Helpers/Helpers.scss';

.selectBar {
  padding: 0 10px;
  padding-top: 10px;
  max-width: 640px;
  height: calc(25vh - 23.5px);

  border-radius: 15px 15px 0 0;
  border-top: 6px solid $purple-dark;

  box-sizing: border-box;
  overflow: scroll;
  text-align: center;

  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
