@import '../../Components/Helpers/Helpers.scss';

.playerInputModal {
  width: 70%;
  max-width: 300px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  position: relative;

  &__error {
    position: absolute;
    bottom: 8px;
  }
}