@import '../../Components/Helpers/Helpers.scss';

.welcome {
  &__top {
    width: 100%;
    height: 75.5vh;
    border-radius: 0 0 30px 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 2;
    cursor: pointer;
  }

  &--move {
    transform: translateY(-90%);
    border-radius: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;
  }

  &__attention {
    font-family: $shrift--rubic;
    color: rgba($color: $red , $alpha: 0.3);
    font-size: 30px;
    margin: 0;

    @include medium() {
      font-size: 38px;
    }

    @include large() {
      font-size: 45px;
    }

    &-message {
      font-family: $shrift--rubic;
      width: 50%;
      font-size: 10px;
      margin: 20px auto;

      @include medium() {
        font-size: 15px;
      }

      @include large() {
        font-size: 20px;
      }
    }

    &-submessage {
      color: rgba($color: #FB3004 , $alpha: 0.3);
      font-size: 10px;
      font-weight: 600;
      font-family: $shrift--rubic;
      width: 50%;

      @include medium() {
        font-size: 15px;
      }

      @include large() {
        font-size: 20px;
      }
    }
  }
}
