@import '../Helpers/Helpers.scss';

.squad {
  width: 70px;
//   background-color: $purple-lite;
  border-radius: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  border: 1px solid transparent;

  &-sq {
    width: 70px;
    padding: 5px;

    @include medium() {
      width: 100px;
    }

    @include large() {
      width: 100px;
    }
  }


//   &--active {
//     border: 1px solid $purple--pink;
//   }

  &__input {
    background-color: transparent;
    width: 100%;
    border: 0;
    // color: $purple--pink;
    font-weight: 600;
    font-family: $shrift--ubuntu;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 0;
    // border-bottom: .1px solid $purple--pink;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 10px;
    // color: $purple--pink;

    @include medium() {
      font-size: 12px;
    }
  }

  &__top {
    text-align: center;

     >i {
      font-size: 27px;
      text-align: center;
      margin: 0 auto;
    }
  }

  >p {
    margin: 0;
    font-size: 8px;
    margin: 0 auto;
  }


  &__list {
    max-height: 93px;
    overflow: auto;
  }

  &__cross {
    position: absolute;
    // color: $purple--pink;
    // background-color: rgba($color: $purple, $alpha: .7);
    border-radius: 50%;
    top: -7px;
    left: -5px;
    transform: rotate(45deg);
  }
}
