@import '../Helpers/Helpers.scss';

.squad {
  width: 70px;
  height: max-content;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  &-sq {
    width: 70px;
    padding: 5px;

    @include medium() {
      width: 100px;
    }

    @include large() {
      width: 100px;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 0;

    font-weight: 600;
    font-family: $shrift--ubuntu;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
    outline: none;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 10px;

    @include medium() {
      font-size: 12px;
    }
  }

  &__top {
    text-align: center;

     >i {
      font-size: 27px;
      text-align: center;
      margin: 0 auto;
    }
  }

  >p {
    margin: 0;
    font-size: 8px;
    margin: 0 auto;
  }

  &__list {
    max-height: 93px;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__cross {
    position: absolute;
    border-radius: 50%;
    top: -7px;
    left: -5px;
    transform: rotate(45deg);
    cursor: pointer;
  }
}
