@import './Components/Helpers/Helpers.scss';

body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100%;
  font-family: $shrift--ubuntu;

  position: relative;

  &__container {
    max-width: 640px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;

    position: relative;
  }

  &__wrapper {
    padding-top: 60px;
  }
}
