@import '../Helpers/Helpers.scss';

.themes {
  &__wrapper {
    align-items: center;
    display: flex;
    gap: 2px;

    @include large() {
      gap: 5px;
    }
  }
    
  &__theme {
    width: min-content;
    height: min-content;
    border: 1px solid transparent;
    font-size: 19px;
    padding: 4px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    cursor: pointer;

    @include medium() {
      font-size: 27px;
      padding: 5px;
      border-radius: 8px;
    }

    @include large() {
      font-size: 40px;
      padding: 5px;
      // border-radius: 10px;
    }

    >i {
      line-height: -10px;
      padding: 0;
    }
  }
}
