@import '../../Components/Helpers/Helpers.scss';

.home {
    padding: 10px;

    &__wrapper {
        display: flex;
        margin-top: 40px;
        gap: 10px;
        // height: 100%;
        // max-height: 39vh;
        // max-height: 300px;
    }
}