@import '../Helpers/Helpers.scss';

.squadBox {
  width: min-content;
  min-height: 76px;
  padding: 2px;
  border-radius: 10px;

  position: absolute;

  &__tools {
    width: 100%;
    margin: 3px 0;
    line-height: 10px;
    border-radius: 5px;

    &-wrapper {
      display: flex;

      >i {
        cursor: pointer;
        border-radius: 5px;
        padding: 1px;
        font-size: 14px;
      }
    }
  }

  &__container {
    max-width: 120px;
    max-height: 60px;
    overflow: auto;
  }

  &__empty {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
}
