@import '../Helpers/Helpers.scss';

.squadBox {
    // background-color: $purple-dark;
    padding: 2px;
    border-radius: 10px;
    position: absolute;
    width: min-content;
    min-height: 76px;

    // width: 200px;

    // transform: scale(1.2);



    &__tools {
        margin: 3px 0;
        line-height: 10px;
        width: 100%;
    }

    &__container {
        overflow: auto;
        max-width: 120px;
        max-height: 60px;
    }

    &__empty {
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        // padding-top: 10px;
        display: flex;
        justify-content: center;
    }

}